.about{
    display: flex;
    flex-direction: column;
}
.im{
    height: 30rem;
    width: 150rem;
    object-fit: cover;
    margin: 1rem;

}
.containt-about{
    display: flex;
    flex-direction: row;
    margin: 2rem;
    gap: 2rem;
}
.im1{
    height: 50rem;
    width: 100rem;
    margin-left: 12rem;
}
.h{
   font-size: 10rem;
   margin-left: 12rem; 
   letter-spacing: 0.5rem;
}
.p{
    font-size: 2rem;
    margin-left: 4rem;
    letter-spacing: 0.2rem;
    word-spacing: .2rem;
}